html {
  scroll-behavior: smooth;
}

body {
  background-color: red;
}

.block:not(.first) {
  padding: 10px 30px 20px 40px;
  border-radius: 10px;
  background-color: lightblue;
  width: 500px;
  height: 400px;
  margin: 10px;
}

.first {
  border-radius: 10px;
  background-color: lightblue;
  width: 600px;
  height: 200px;
  margin: 10px;
}

#list {
  padding: 10px;
  margin-left: 30px;
  list-style: none;
}
#list li {
  font-size: 2.5em;
  font-weight: bold;
  font-family: cursive;
  color: rgba(200, 65, 100, 0.8);
  border: 1px solid red;
  text-decoration: overline underline;
  padding: 10px;
}

#anc3 {
  color: black;
}
#anc3:hover {
  color: red;
}
#anc3:active {
  color: white;
}
#anc3:visited {
  color: darkgreen;
}

#grid {
  width: 100%;
  float: left;
  background: lightpink;
}
#grid div {
  float: left;
  background: white;
  margin-left: 1%;
  margin-bottom: 1%;
  height: 200px;
  width: 31.9333333333%;
}
#grid div:nth-child(3n) {
  margin-top: 1%;
}

.someClass-1 {
  width: 51px;
  height: 51px;
}

.someClass-2 {
  width: 52px;
  height: 52px;
}

.someClass-3 {
  width: 53px;
  height: 53px;
}

.someClass-4 {
  width: 54px;
  height: 54px;
}