@mixin font($color,$FontW)
{
    font-family: cursive;
    font-size: 2.5em;
    font-weight: $FontW;

    color: $color;
}

@mixin padd($padd...)
{
    padding: $padd;
}

@mixin brd($bord...)
{
    border: $bord;
}

@mixin link($color1,$color2,$color3,$color4)
{
    color: $color1;

    &:hover
    {
        color: $color2;
    }

    &:active
    {
        color: $color3;
    }

    &:visited
    {
        color: $color4;
    }
}

@mixin grid($sum, $margin)
{
    // @if($sum == 2){
    float: left;

    width: ((100% - ($sum - 1) * $margin)/$sum);
    // margin-bottom: $margin;
    height: 200px;
    margin-right: $margin;
    margin-bottom: $margin;

    background: white;

    &:nth-child(#{$sum}n)
    {
        margin-right: 0;
        // margin-bottom: 1px;
    }

    // &:nth-child(#{$sum*4}n){
    //   margin-bottom: $margin;
    // }
    // }@else{
    //   float: left;
    //   background: white;
    //   margin:$margin;
    //   margin-bottom: 0;
    //   height: 200px;
    //   width:100% - ($margin*2);
    //
    //   &:nth-child(#{($sum*8)}n){
    //     margin-bottom: $margin;
    // }}
} 
