@import 'mixin.scss';
@import 'varieble';

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: red;
}


.block:not(.first)
{
    width: $divwid;
    height: 400px;
    margin: 10px;

    border-radius: 10px;
    background-color: $bgcolor;

    @include padd(10px 30px 20px 40px);
}

.first
{
    width: 600px;
    height: 200px;
    margin: 10px;

    border-radius: 10px;
    background-color: $bgcolor;
}

// .list{
//   padding: 10px;
//   margin-left: 30px;
//   list-style: none;
//
//   li{
//     text-decoration: overline underline;
//     padding: 2px;
//   }
// }

#list
{
    margin-left: 30px;
    padding: 10px;

    list-style: none;

    li
    {
        padding: 10px;

        text-decoration: overline underline;

        @include font($color: rgba(200,65,100,.8), $FontW:bold);
        @include brd(1px solid red);
    }
}

#anc3
{
    @include link(black, red, white, darkgreen);
}

#grid
{
    float: left;

    width: 100%;

    background: lightpink;

    div
    {
        @include grid(7, 4%);
    }
}

@for $i from 1 to 5
{
    .#{$someVar}-#{$i}
    {
        width: 50px + $i;
        height: 50px + $i;
    }
}
