body {
  background-color: LightBlue;
  margin: 10px;
  background-image: url("../images/Sun.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}
section {
  background-color: #D3EAF2;
  background-image: url(../images/cloudy.png),url(../images/cloudy.png),url(../images/cloudy.png),url(../images/cloudy.png);
  background-position: top left, top right, bottom left, bottom right;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 500px;
  border-radius: 5px
}
nav {
  width: 150px;
  border: 2px dotted blue;
  border-radius: 5px;
  padding-left: 20px;
}
#section3 {
  background-color: Aquamarine;
}

h2 {
  font-family: Garamond, serif;
  color: rgba(156, 63, 224, 0.5);

}

#section1 {
  height: 400px;
  overflow: auto;
}
#section5 {
  text-align: justify;
}

.par1 {
  text-shadow: 0px 2px 5px gray;
  color: #277d2e;
  font-family: arial black;

}

#par2 {
  font-size: 16pt;
  font-style: italic;
  font-variant-caps: small-caps;
  font-family: fantasy;
  color: blue;
  text-align: center;
}

.gallery1 {
  width: 32%;
  height: auto;
  display: inline-block;
  margin: auto;
  padding: 5px;
  position: relative;
  top: 0px;
}
.gallerybox {
  width: 100%;
  height:auto;


}
.gallery2 {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}
h3 {
  text-align: center;
  color: rgba(237, 76, 181, 0.5);
  text-decoration: overline underline;
  text-decoration-style: dotted;
  margin-top: 50px;

}


footer {
  position: fixed;
  bottom: 0px;
  margin: 0px;
}
#footer {
  margin: 0px;
}
#table1 {
  width: 700px;
  border-collapse: collapse;
  margin: auto;
  table-layout: fixed;
}

#table1 th {
  border: 2px solid black;
}
#table1 td {
    border: 1px solid black;

}
#td1 {
  transform: rotate(-90deg);
  text-align: center;
}
