*
{
    box-sizing: border-box;
}

body
{
    margin: 10px;

    background-color: LightBlue;
    background-image: url('../images/Sun.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}
section
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;

    border-radius: 20px;
    background-color: #d3eaf2;
    background-image: url(../images/cloudy.png),url(../images/cloudy.png),url(../images/cloudy.png),url(../images/cloudy.png);
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: 50px 50px;
}

img
{
    width: 500px;

    border-radius: 5px;
}
nav
{
    width: 150px;
    padding-left: 20px;

    border: 2px dotted blue;
    border-radius: 5px;
}
#section3
{
    background-color: Aquamarine;
}

h2
{
    font-family: Garamond, serif;

    color: rgba(156, 63, 224, .5);
}

#section1
{
    overflow: auto;

    height: 400px;
}
#section5
{
    text-align: justify;
}

.par1
{
    font-family: arial black;

    color: #277d2e;
    text-shadow: 0 2px 5px gray;
}

#par2
{
    font-family: fantasy;
    font-size: 16pt;
    font-style: italic;

    text-align: center;

    color: blue;

    font-variant-caps: small-caps;
}

.gallery1
{
    position: relative;
    top: 0;

    display: inline-block;
    /* width: 25%;
    height: auto;
    padding: 5px; */
    overflow: hidden;
}
.gallerybox
{
    width: auto;
    height: 400px;
    padding: 5px;

    opacity: .5;
}
.gallerybox:hover
{
    transition: 2s;
    transform: scale(1.5);

    opacity: 1;
}

.gallery2
{
    display: flex;

    justify-content: center;
}
h3
{
    margin-top: 500px;

    text-align: center;
    text-decoration: overline underline;

    color: rgba(237, 76, 181, .5);

    text-decoration-style: dotted;
}


footer
{
    position: fixed;
    bottom: 0;

    margin: 0;
}
#footer
{
    margin: 0;
}
