body {
  background-color: #F2F2F2;
}

.eyeball {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: relative;
}

.eye {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #AEDBF5;
  margin:auto;
  /* transform: none; */
  animation: roundeye 5s infinite;
  animation-direction: alternate;
  animation-delay: 2s;

}
.eye:before {
  content: "";
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin: auto;
  background: black;
}
.eye:after {
  content: "";
  display: block;
  position: absolute;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  top: 35%;
  left: 35%;
  background: rgba(255,255, 255, 0.2);
}

@keyframes roundeye {
  0% {
    transform: none;
  }

  20% {
    transform: translateX(50px) translateY(-40px) skew(20deg,-10deg) scale(0.90);
  }

  40% {transform: translateX(50px) translateY(40px) skew(10deg,-20deg) scale(0.90);}

  60% {
    transform: translateX(-50px) translateY(40px) skew(20deg,-10deg) scale(0.90);
  }

  80% {
    transform: translateX(-50px) translateY(-40px) skew(-20deg,10deg) scale(0.90);
  }

  100% {
    transform: none;
  }
